.paral {
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;

  h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
  }

  h2 {
    font-size: 45px;
    text-align: center;
    padding-top: 32px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  p {
    font-size: 24px;
    text-align: center;
    line-height: 1.4em;
    max-width: 400px;
    margin: auto;
  }
}

.card {
  img {
    box-shadow: 3px 3px 10px #000;
    height: 180px;
  }

  p {
    text-align: left;
    margin-left: 0;
  }
}

.paralsec1-image {
  background-image: linear-gradient(
      rgba(29, 38, 113, 0.5),
      rgba(29, 39, 133, 0.5)
    ),
    url("https://res.cloudinary.com/zottik/image/upload/v1600667398/large_daegu_above_a05e43b9bf.jpg");
}
.paralsec2-image {
  background-image: linear-gradient(
      rgba(29, 38, 113, 0.5),
      rgba(29, 39, 133, 0.5)
    ),
    url("https://res.cloudinary.com/zottik/image/upload/v1600667361/large_plane_to_korea_ce2e556e2a.jpg");
}
.paralsec3-image {
  background-image: linear-gradient(
      rgba(29, 38, 113, 0.5),
      rgba(29, 39, 133, 0.5)
    ),
    url("../img/jeju.jpg");
}
